
body {
  font-family: "PT Sans", Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);

  background-color: #ffffff;
}

.main-header-logo {
  display: block;
  width: 140px;
  height: 71px;

  position: absolute;
  left: 50%;
  top: 0;

  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: auto;

  padding: 16px 72px
}

.site-navigation a,
.site-navigation a:visited {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.current-page {
  color: #766357;
}

.navigation-item {
  width: 25%;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}

.banner {
  position: relative;

  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  text-align: center;

  height: 500px;
  margin-bottom: 61px;
}

.banner::after {
  position: absolute;
  bottom: 0;
  left: -1px;

  width: 1201px;
  height: 57px;

  content: "";
  background-image: url("../img/polygon.png");
}

.welcome-image {
  margin-top: 76px;
}

.page-title {
  font-size: 21px;
  text-align: center;

  width: 440px;
  margin: 0 auto;
}

.title-description {
  font-weight: 400;
  color: #333333;
  text-align: center;

  margin-top: 38px;
  margin-bottom: 56px;
}

.reasons-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons-item-container {
  display: flex;
  flex-wrap: wrap;
}

.reason-item {
  color: #ffffff;
  text-align: center;

  box-sizing: border-box;
  width: 400px;
  padding-top: 46px;

  background-color: #81b3d2;
}

.reason-item .reason-description {
  padding-top: 26px;
}

.reason-image {
  display: flex;
  width: 800px;
}

.reason-item h2 {
  width: 155px;
}

.reason-title {
  font-size: 21px;
  line-height: 21px;
  width: 130px;
  margin: 0 auto;
}

.reason-item p {
  margin: 0 auto;
}

.reason-description {
  font-weight: 400;
  line-height: 21px;
  padding-left: 50px;
  padding-right: 50px;
}

.reason-two-description {
  font-weight: 400;
  line-height: 21px;
  padding-top: 26px;
  width: 320px;
}

.reason-item-list {
  list-style-type: none;
  display: flex;
  text-align: center;

  width: 1200px;
  min-height: 330px;
  padding: 0;

  background-color: #ffffff;
  color: #000000;
}

.reason-item-list li {
  position: relative;
  width: 400px;
  padding-top: 161px;
}

.reason-item-list li::before {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  width: 75px;
  height: 72px;

  content: "";
}

.reason-item-list .reason-housing::before {
  background-image: url("../img/icon-1.svg");
}

.reason-item-list .reason-food::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
}

.reason-item-list .reason-souvenir::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
}

.reason-item-list .reason-title {
  margin-bottom: 31px;
  font-weight: 700;
}

.reasons {
  list-style-type: none;
  text-align: center;

  box-sizing: border-box;
  flex-basis: 400px;
  min-height: 256px;

  background-color: #eeeeee;
}

.reasons .reason-title {
  padding-top: 50px;
}

.booking-section {
  text-align: center;
  background-color: #ffffff;
}

.map {
  position: relative;
  height: 593px;
  background-image: url("../img/map.jpg");
}

.booking-form {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  box-sizing: border-box;
  width: 568px;

  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 55px;

  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.booking-form p {
  margin: 0;
  position: relative;
}

.date-field {
  font-family: "PT Sans", Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;

  box-sizing: border-box;
  width: 346px;
  height: 38px;

  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 13px;

  margin-bottom: 30px;
  margin-left: 13px;

  background-color: #f2f2f2;
  border: none;
}

.date-field:hover {
  background-color: #ebebeb;
}

.date-field:focus {
  background-color: #ffffff;
}

.people-amount-field {
  width: 38px;
  height: 38px;
  padding: 14px;
  margin: 0;
}

.people-amount-input {
  display: inline-flex;
}

.btn-people-amount {
  position: relative;
  width: 38px;
  height: 38px;

  border: none;
  background-color: #f2f2f2;
}

.btn-people-amount::after {
  content: "";
  position: absolute;

  width: 12px;
  height: 3px;
  left: 13px;
  bottom: 17px;

  background-color: #a9a9a9;
}

.btn-people-amount:hover::after {
  background-color: #000000;
}

.btn-people-amount:active::after {
  background-color: #81b3d2;
}

.btn-people-plus::before {
  content: "";
  position: absolute;

  width: 12px;
  height: 3px;
  left: 13px;
  bottom: 17px;

  transform: rotate(90deg);
  background-color: #a9a9a9;
}

.btn-people-plus:hover::before {
  background-color: #000000;
}

.btn-people-plus:active::before {
  background-color: #81b3d2;
}

.btn-calendar {
  position: absolute;
  right: 60px;
  top: 6px;
  border: none;
  background-color: transparent;
}

.btn-calendar path {
  fill: #a9a9a9;
}

.btn-calendar:hover path {
  fill: #000000;
}

.btn-calendar:active path {
  fill: #81b3d2;
}

.field-adult {
  margin-right: 49px;
}

.adult {
  margin-right: 36px;
  align-self: center;
}

.children {
  margin-right: 27px;
  margin-left: 49px;
  align-self: center;
}

.booking-title {
  font-size: 30px;
  line-height: 36px;

  margin-top: 0;
  padding-top: 57px;
}

.booking-description {
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  margin-bottom: 52px;
}

.search-hotel-btn {
  font-family: "PT Sans", Verdana, sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  width: 568px;
  height: 86px;

  background-color: #766357;
  border: none;
}

.search-hotel-btn:hover {
  background-color: #604e43;
}

.search-hotel-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-hotel-submit {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  width: 458px;
  height: 58px;

  margin-top: 54px;

  background-color: #81b3d2;
  border: none;
}

.search-hotel-submit:hover {
  background-color: #669ec0;
}

.search-hotel-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.wrapper {
  display: flex;
}

.sort-filter {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.sort-filter li {
  padding-bottom: 22px;
}

.filter-form {
  color: #ffffff;
  background-image: url("../img/filter-bg.jpg");
  display: flex;
  justify-content: space-between;
}

.filter-form .wrapper {
  padding-top: 31px;
  padding-left: 72px;
}

.filter-price {
  margin-top: 31px;
  margin-right: 74px;
}

.filter-fieldset {
  display: flex;
  padding-right: 115px;
  border: none;
}

.filter-results {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.filter-range {
  width: 330px;

  padding-top: 31px;
  padding-right: 74px;
}

.filter-range-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  font-weight: 400;
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -10px;
  height: 22px;
  width: 23px;
  padding: 0;

  background: #ababab;
  border: 9px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.check {
  position: relative;
  padding-left: 40px;
}

.checkbox {
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
}

.checkbox-checked {
  display: none;
}

.check-input:checked ~ .checkbox-checked {
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
}

.check-input:checked ~ .checkbox {
  display: none;
}

.check-input:disabled ~ svg path{
  fill: #6a6a6a;
}

.filter-item {
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.filter-founded {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  margin: 0;
  padding-top: 31px;
  padding-left: 72px;
  padding-right: 49px;
}

.filter-founded + p {
  margin: 0;
  padding-top: 38px;
}

.filter-sort-wrap {
  display: flex;
  min-height: 85px;
}

.sort-list {
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 250px;
  padding-left: 40px;
  margin-bottom: 0;
}

.sort-by {
  justify-content: flex-end;

  margin-left: auto;
  margin-right: 73px;
}
.sort-arrow {
  margin-right: 12px;
}

.sort-arrow-up path,
.sort-arrow-down path {
  fill: #cacaca;
}

.sort-arrow-up:hover path,
.sort-arrow-down:hover path {
  fill: #231f20;
}

.sort-arrow-up:active path,
.sort-arrow-down:active path {
  fill: #81b3d2;
}

.sort-current {
  color: #81b3d2;
}

.sort-item {
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sort-list a:hover {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000000;
}

.hotel-list {
  list-style: none;

  margin-top: 0;
  padding: 0;
}

.item-content {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-left: 30px;
  margin-right: 72px;
}

.hotel-image {
  margin-left: 72px;
}

.hotel-item {
  display: flex;
  flex-direction: row;

  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.hotel-name {
  font-size: 21px;
  margin: 0;
}

.hotel-name a:link,
.hotel-name a:visited {
  color: #000000;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type-price {
  display: flex;
  justify-content: space-between;
  line-height: 21px;
}

.hotel-price {
  margin-right: 85px;
}

.hotel-rating {
  align-self: flex-end;
}

.stars {
  position: relative;
  text-align: right;
  margin-bottom: 50px;
  margin-top: 0;
}

.stars::after {
  position: absolute;
  height: 17px;
  bottom: 0;
  right: 1px;
  content: "";
  background-image: url("../img/star.svg");
}

.five-stars::after {
  width: 90px;
}

.four-stars::after {
  width: 72px;
}

.three-stars::after {
  width: 54px;
}

.two-stars::after {
  width: 36px;
}

.one-star::after {
  width: 18px;
}

.rating {
  line-height: 21px;
  color: #666666;
  text-align: center;

  box-sizing: border-box;
  width: 110px;
  height: 27px;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 3px;

  background-color: #f2f2f2;
}

.btn-hotel {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

  display: inline-block;
  box-sizing: border-box;

  padding-top: 4px;
  padding-bottom: 3px;
  padding-right: 16px;
  padding-left: 16px;
}

.btn-detail {
  width: 110px;

  background-color: #81b3d2;
}

.btn-hotel:visited {
  color: #ffffff;
}

.btn-detail:hover {
  background-color: #669ec0;
}

.btn-detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-book {
  width: 142px;

  background-color: #766357;
}


.btn-book:hover {
  background-color: #604e43;
}

.btn-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 131px;
  padding-right: 101px;

  background-color: #ffffff;
  opacity: 0.9;
}

.main-footer {
  margin-top: -120px;
}

.contacts {
  font-size: 21px;
}

.contacts p {
  margin: 0;
}

.contacts a,
.contacts a:visited {
  color: #000000;
}

.contacts a:hover,
.contacts a:focus {
  color: #81b3d2;
}

.contacts a:active {
  color: rgba(0, 0, 0, 0.3);
}

.social-list-container {
  width: 150px;
  margin-left: -55px;
}

.social-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.btn-social {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.btn-social:hover {
  background-color: #669ec0;
}

.btn-social:active {
  background-color: #5496bd;
}

.btn-social::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

.btn-social:active::after {
  opacity: 0.3;
}

.btn-twitter::after {
  width: 17px;
  height: 15px;
  background-image: url("../img/twitter.svg");
}

.btn-facebook::after {
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
}

.btn-youtube::after {
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.svg");
}

.copyright {
  font-weight: 400;
}

.copyright-link {
  vertical-align: middle;
}

.copyright-logo:hover path {
  fill: #81b3d2;
}

.copyright-logo:active path {
  fill: rgba(0, 0, 0, 0.3);
}
